---
title: Jonathan Witman Contact Me
pageTitle: Contact
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
{% include head.html %}

  <body>
    {% include nav.html %}
    {% include top_heading.html %}
    <main class="main_container">
      <h2 class="contact_heading">Feel free to reach out via the following:</h2>
      <section class="contact_container_flex">
        <div class="contact_items">
          <div class="co_img_container">
            <a href="https://github.com/JonathanWitman">
              <img src="images/github.svg" class="contact_img" alt="Github logo">
            </a>
          </div>
          <div class="co_link_container">
            <a href="https://github.com/JonathanWitman" class="contact_link">GitHub</a>
          </div>
        </div>
        <div class="contact_items">
          <div class="co_img_container">
            <a href="https://www.linkedin.com/in/jonathan-witman">
              <img src="images/linkedin.svg" class="contact_img" alt="">
            </a>
          </div>
          <div class="co_link_container">
            <a href="https://www.linkedin.com/in/jonathan-witman/" class="contact_link">LinkedIn</a>
          </div>
        </div>
        <div class="contact_items">
          <div class="co_img_container">
            <a href="mailto: jawitman8@gmail.com">
              <img src="images/email.svg" class="contact_img" alt="">
            </a>
          </div>
          <div class="co_link_container">
            <a href="mailto: jawitman8@gmail.com" class="contact_link">Jawitman8@gmail.com</a>
          </div>
        </div>
      </section>
      <a href="files/Jonathan_Witman_Resume.pdf" id="contact_resume" class="resume_button" download>My Resume</a>
    </main>
  </body>

</html>
