---
title: Jonathan Witman Web Developer Portfolio and Resume Website
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
{% include head.html %}

  <body>
    <section class="contact_container">
      <a href="https://github.com/JonathanWitman"><img src="images/github.svg" alt="github logo" class="github_logo"></a>
      <a href="https://www.linkedin.com/in/jonathan-witman/"><img src="images/linkedin.svg" alt="linkedin logo" class="linkedin_logo"></a>
      <a href="contact.html"><img src="images/email.svg" alt="email logo" class="email_logo"></a>
    </section>

    <header class="top_heading">
      <h1 class="top_name">Jonathan Witman</h1>
      <h2 class="top_text">Full stack web developer.</h2>
      {% include nav.html %}
    </header>

    <main class="about_me_container">
      <section class="about_me_top">
        <h1 class="about_me_title">About Me</h1>
        <img src="images/headshot.png" alt="Portrait photo of Jonathan Witman">
        <p class="about_me_content">Currently based in Lancaster County, Pennsylvania, I am always striving to improve my skills as a developer. <b>I have a strong affinity for the learning process and self-improvement,</b> which is one of the many reasons I love being a developer. I find that this career path facilitates this frame of thinking quite nicely, so my motivation to succeed deepens on a daily basis. Thanks for taking a moment to check out my Developer portfolio!</p>
        <a href="files/Jonathan_Witman_Resume.pdf" class="resume_button" download>See My Resume</a>
      </section>
    </main>
  </body>
</html>
